.analysislayout__link {
   text-decoration: none;
   display: block;
   color: #757171;
   font-size: 18px;
   font-weight: 400;
   transition: all 0.3s ease-in-out;
   margin-bottom: 10px;
}

.analysislayout__link:hover {
   color: #919bf0;
}

.active {
   color: #919bf0;
}