.problemdetails__item-photo {
   width: 400px;
   height: 300px;
   padding: 5px;
   box-sizing: border-box;
   background-color: aquamarine;
   background-size: contain;
   border-radius: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   object-fit: contain;
   overflow: hidden;
}