.problemdetails__input {
   padding: 5px;
   margin: 0;
   min-height: 22px;
   border: none;
   background-color: #ccc;
   border-radius: 3px 3px 0 0;
   border-bottom: 1px solid #757171;
   outline: none;
}

.problemdetails__input::placeholder {
   font-size: 14px;
}