.footer {
    padding: 0 70px;
    height: 60px;
    margin: auto 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #757171;
}